[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytest = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
flask-openid = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-whooshalchemy = "*"
flask-babel = "*"
guess-language = "*"
flipflop = "*"
coverage = "*"
sqlalchemy-migrate = "*"

[dev-packages]

[requires]
python_version = "3.6"
